<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title>Central Coast Overdose Prevention Network - {{ page.title }}
		 - Redirect</title>

		<meta name="description" content="This page redirects to the current
		 Central Coast Overdose Prevention Network (CCODP) {{ page.stub }}
		 page.">
		<meta http-equiv="refresh" content="0;url={{ page.redirect_url }}">
		<link rel="canonical" href="{{ page.redirect_url }}">
	</head>
	<body>
		<h1>Redirect Notice</h1>
		<section>
			<p>Redirecting to the current Central Coast Overdose Prevention
			 Network (CCODP) {{ page.stub }} page at
			 <a href="{{ page.redirect_url }}">
				{{ page.redirect_url }}</a>&hellip;</p>
		</section>
	</body>
</html>
