<!DOCTYPE html>
<html lang="es-MX">
	<head>
		<meta charset="utf-8">
		<title>La Red de Prevención de Sobredosis de la Costa Central -
		 {{ page.title }} - Redirección</title>

		<meta name="description" content="Esta página se redirecciona a la
		 actual página de la Red de Prevención de Sobredosis de la Costa
		 Central (CCODP) {{ page.stub }}.">
		<meta http-equiv="refresh" content="0;url={{ page.redirect_url }}">
		<link rel="canonical" href="{{ page.redirect_url }}">
	</head>
	<body>
		<h1>Notificación de redirección</h1>
		<section>
			<p>Redireccionar a la actual página {{ page.stub }} de la Red de
			 Prevención de Sobredosis de la Costa Central (CCODP) en
			 <a href="{{ page.redirect_url }}">
				{{ page.redirect_url }}</a>&hellip;</p>
		</section>
	</body>
</html>
